---
layout: default
---

<div class="container">

	<!-- SELECTED -->
	<div class='row gallery' style='margin-bottom:40px;'>
		<div class='col-xs-12'>
			<h1>Selected</h1>
			<hr>
		</div>
		{% for image in site.static_files %}
			{% if image.path contains 'assets/selected' %}
				<a class='col-xs-12 col-sm-3 img' href='{{ site.baseurl }}{{ image.path }}' title=''>
					<img class='img-responsive img-thumb' src='/thumbnails{{ image.path }}' alt='{{ image.path }}' />
				</a>
			{% endif %}
		{% endfor %}
		<div class='col-xs-12'>
			<a href="/galleries">
				<hr>
				<h2>View more</h2>
			</a>
		</div>
	</div>

</div>