block link
	-var selected = '';

#menu
	a.menu-link.link.col-var
	.dropdown
		.style-list
			label(for='styleSwitcher')
			#styleSwitch.styleSwitch
				h4 Settings
				.div
					label images per row &nbsp;
					select.c-select.form-control#row-tool
						//- option(value='' disabled selected)
						option(value='' selected).row-selected
						option(value='' disabled) —
						//- | Covers per row
						option(value='col-sm-12' name='1') 1
						option(value='col-sm-6' name='2') 2
						option(value='col-sm-4' name='3') 3
						option(value='col-sm-3' name='4') 4
						option(value='col-sm-2' name='6') 6
				.div
					p background colour
					button.colour.b-black(value='black')
					button.colour.b-white(value='white')
					button.colour.b-gold(value='gold')
				.div
					p text size
					button.size.b-t1(value='t1') S
					button.size.b-t2(value='t2') M
					button.size.b-t3(value='t3') L
				.div
					p border
					button.border.b-b1(value='b1') solid
					button.border.b-b2(value='b2') inset
					button.border.b-b3(value='b3') none
