extends ./partials/_layout

block link
	-var selected = 'about';

block content
	.container
		.row.gallery
			//- .col-sm-6
			//- 	img.img-responsive(src='/img/the_artist.JPG')
			//- 	figcaption(style='font-size:small;') rare photo of the artist at work
			.col-sm-12
				p!= contents